.main {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0 5%;
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        align-items: center;


       &_card {
            img {
                border-radius: 5px;
            }
           h3 {
               padding: .7rem .2rem;
               border-bottom: 2px solid rgba(000, 000, 000, 0.2);
           }

           a {
               color: var(--color-150);
           }

           span {
               display: inline-block;
               padding: .4rem 0;
           }
        }
    }
}

@media (max-width: 950px) {
    .main__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .main__cards {
        grid-template-columns: 1fr;
    }
}