<app-header-lvendas></app-header-lvendas>

<div class="cart">
    <header class="cart__header">
        <a routerLink="/">
            <svg aria-hidden="true" title="Voltar" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
            </svg>  
            Voltar
        </a>
    </header>
    <section class="cart__container">
        <div class="cart__products">
            <div  class="cart__products_header">
                <h1>
                    Seu Carrinho
                </h1>
                <h3>Total ({{amountItems}} produtos) {{totalPrice}}</h3>
            </div>
            <div class="product" *ngFor="let item of items">
                <img src={{item.image_url}} alt={{item.name}}>

                <div class="product__content">
                    <header class="product__content_header">
                        <h1>{{item.name}}</h1>
                        <button>remove item</button>
                    </header>

                    <p class="product__content_description">{{item.description}}</p>

                    <div class="product__content_more">
                        <strong>
                            R$ {{item.price}}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <aside>

        </aside>
    </section>
</div>